
/***************/
/*    SHEET    */
/***************/

.easy-effect-sheet .effects-header {
  flex: 0;
}

/***************/
/*    CHAT     */
/***************/

.edit-owned-item-effects-remove-blind.blind {
  display: none;
}

.easy-effect-card .status-chip {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;
  display: flex;
  gap: 0.5em;
  padding: 0.3em;
  place-content: space-between;
  place-items: center;
  width: 100%;
}

.easy-effect-card .easy-effect-apply {
  padding: 0;
  border: 0;
  font-size: 1.6em;
  flex: 0;
  margin-left: auto;
  background-color: transparent;
  width: auto;
  line-height: 1;
}

.easy-effect-card .easy-effect-apply:hover,
.easy-effect-card .easy-effect-apply:focus {
  box-shadow: none;
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

.easy-effect-list {
  padding: 0;
  margin: 0;
}

.easy-effect-list > li {
  display: grid;
  grid-template-columns: 36px 1fr auto;
  align-items: center;
  gap: 5px;
}

.easy-effect-list > li:not(:last-child) {
  border-bottom: 0 !important;
}

.easy-effect-list .token-image {
  flex: 0 0 36px; /* arbitrary same as 5e item thumbs */
  height: 30px;
  width: 30px;
  border: 0;
}

.easy-effect-list h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.easy-effect-effects-list > li {
  cursor: grab;
}

.easy-effect-combatant-summary {
  font-size: 12px;
}

.easy-effect-combatant-summary-label {
  display: inline-flex;
  font-size: 1rem;
}

.easy-effect-combatant-summary .easy-effect-apply {
  position: absolute;
  right: 5px;
}